{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

    {% block body %}
        <h3>Добро пожаловать</h3>

        {% if app.user %}
            <button><a href="{{ path("app-my-page") }}">Моя страница</a></button>
{% endif %}
        <button><a href="{{ path("app-sign-up") }}">Зарегистрирваться</a></button>
        <button><a href="{{ path("auth") }}">Авторизоваться</a></button>
    {% endblock %}
