{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


    {% block body %}
<h3>Моя страница</h3>
        <h5>Связать аккаунт с соц.сетями</h5>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <h5>{{ flashMessage }}</h5>
        {% endfor %}
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fadd-soc-account;mobilebuttons=0;"></div>
    {% endblock %}
